#page-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
}

#search-input {
  height: 35px;
  width: 300px;
  background: rgb(235, 235, 235);
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #715DF2;
}

#search-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: rgb(150, 150, 150);
}

#search-button {
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 10px;
  background: #715DF2;
  border: none;
  cursor: pointer;
}

#search-button:disabled {
  cursor: not-allowed;
}

#search-button:disabled:hover {
  font-weight: 400;
}

#search-button:hover {
  font-weight: 600;
}