#albuns-list {
  background: none;
  display: flex;
  flex-direction: column;
}

#albuns-list-subtitle {
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0 20px;
  text-align: center;
}

#albuns-container {
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#album-card {
  align-items: center;
  background: #00BAFF;
  border: 4px solid #715DF2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 310px;
  margin: 10px;
  width: 200px;
}

#album-cover {
  border-radius: 15px;
  height: 200px;
}

.album-link {
  color: #001220;
  text-decoration: none;
}

#album-info {
  display: flex;
  height: 110px;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}

#album-name {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

#artist-name {
  font-size: 12px;
  margin: 0;
}

#track-count {
  font-size: 12px;
  margin: 0;
  text-align: right;
}
